#header-box {
    background: url('https://felt.co.nz/user-images/itemuploads/u43537/i353708/o.jpg');
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-bottom: 40px solid;
    line-height: 10px;
    border-bottom-color: #e3e4e6;
}


#title {
    font-family: 'Vast Shadow', cursive;
    
    text-align: center;
    color: #313131;
    line-height: 50px;

}